<div class="hero-unit">

<h1>Welcome to TrollMeMaybe.com</h1>
<p>
	Feel Free to upload, Share and Troll your friends!!
</p>
<%= link_to "Sign up Now!", "http://trollmemaybe.com/signup", class: "btn btn-primary btn-large" %>

</div>


